/* *
{
    margin: 0;
    padding: 0;
} */
 /* html
 {
    background-color: cyan;
    border: solid black 20px;
 }
 body
 {
    background-color: chartreuse;
    /* border: solid black 30px; */
 
    body
    {
        background-color: darkgray;
    }
    
    h1
    {
        margin-left:20px ;
        padding: 20px 30px 40px 50px;
        /* padding: left 10px;;
        padding-top: 10px; */
        /* padding-right: 100px; */
        background-color: aquamarine;
        border-style: solid;
        border-width: 5px;
        border-color: brown;
        width: 500px;
        height: 200px;
    }
    
    .firstpara
    {
        background-color:lightcoral;
        border: solid black 3px;
        width: 500px;
        height: 200px;
    }
    
    
    .secondpara
    {
        background-color:yellow;
        border: solid green 4px;
        width: 500px;
        height: 200px;
    }
    
    span
    {
        display: block;
        background-color: aquamarine;
        border: solid black 3px;
        border-radius: 5px;
        width:350px;
        height: 350px;
    }
    
    .image_source
    {
        height: 500px;
        width: 500px;
        background-color: aqua;
    }
    
    .image_source>img
    {
        height: 350px;
        width: 350px;
        margin-top: 50px;
        margin-left: 50px;
    }